<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>77</Pages>
  <Words>19177</Words>
  <Characters>19879</Characters>
  <Lines>1</Lines>
  <Paragraphs>1</Paragraphs>
  <TotalTime>8</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>20318</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.17133_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
