<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="150"/>
  <w:bordersDoNotSurroundHeader w:val="0"/>
  <w:bordersDoNotSurroundFooter w:val="0"/>
  <w:documentProtection w:enforcement="0"/>
  <w:displayHorizontalDrawingGridEvery w:val="1"/>
  <w:displayVerticalDrawingGridEvery w:val="1"/>
  <w:noPunctuationKerning w:val="1"/>
  <w:compat>
    <w:balanceSingleByteDoubleByteWidth/>
    <w:doNotExpandShiftReturn/>
    <w:adjustLineHeightInTable/>
    <w:doNotWrapTextWithPunct/>
    <w:doNotUseEastAsianBreakRules/>
    <w:useFELayout/>
    <w:doNotUseIndentAsNumberingTabStop/>
    <w:splitPgBreakAndParaMark/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="12"/>
  </w:compat>
  <w:docVars>
    <w:docVar w:name="commondata" w:val="eyJoZGlkIjoiYWFmMjk2NGQwZDUzY2M0ODZhMDUwNTU1MWU0ZTQ3NzkifQ=="/>
  </w:docVars>
  <w:rsids>
    <w:rsidRoot w:val="00000000"/>
    <w:rsid w:val="007555BE"/>
    <w:rsid w:val="01C62DC8"/>
    <w:rsid w:val="03BD5AE4"/>
    <w:rsid w:val="04CB5FDF"/>
    <w:rsid w:val="04FC007E"/>
    <w:rsid w:val="05002963"/>
    <w:rsid w:val="06446E85"/>
    <w:rsid w:val="064C314F"/>
    <w:rsid w:val="07AC62EB"/>
    <w:rsid w:val="07CD0AF2"/>
    <w:rsid w:val="084D6628"/>
    <w:rsid w:val="08894FEC"/>
    <w:rsid w:val="09292D87"/>
    <w:rsid w:val="09B063AC"/>
    <w:rsid w:val="09CF30C0"/>
    <w:rsid w:val="0A250559"/>
    <w:rsid w:val="0A2741DD"/>
    <w:rsid w:val="0BF74193"/>
    <w:rsid w:val="0C6D1703"/>
    <w:rsid w:val="0FAD4285"/>
    <w:rsid w:val="10F56125"/>
    <w:rsid w:val="133574DA"/>
    <w:rsid w:val="144A24F5"/>
    <w:rsid w:val="14B72441"/>
    <w:rsid w:val="14D574F7"/>
    <w:rsid w:val="15B7D5D6"/>
    <w:rsid w:val="163B6FFF"/>
    <w:rsid w:val="179C4E18"/>
    <w:rsid w:val="18163E64"/>
    <w:rsid w:val="18246097"/>
    <w:rsid w:val="18797B5E"/>
    <w:rsid w:val="1A65346A"/>
    <w:rsid w:val="1BAF6908"/>
    <w:rsid w:val="1C2C4D3E"/>
    <w:rsid w:val="1D3F1AA6"/>
    <w:rsid w:val="1F3F27BB"/>
    <w:rsid w:val="1F4017F8"/>
    <w:rsid w:val="1F4060E9"/>
    <w:rsid w:val="1F78738A"/>
    <w:rsid w:val="200E590D"/>
    <w:rsid w:val="21934B84"/>
    <w:rsid w:val="22B76495"/>
    <w:rsid w:val="22BB4296"/>
    <w:rsid w:val="22E457FB"/>
    <w:rsid w:val="23137077"/>
    <w:rsid w:val="250B1C22"/>
    <w:rsid w:val="26AB1BA2"/>
    <w:rsid w:val="26E5D367"/>
    <w:rsid w:val="270D12D6"/>
    <w:rsid w:val="271F3B91"/>
    <w:rsid w:val="28324B6A"/>
    <w:rsid w:val="28383571"/>
    <w:rsid w:val="28923305"/>
    <w:rsid w:val="297B6502"/>
    <w:rsid w:val="2AD7BE2E"/>
    <w:rsid w:val="2B2D3811"/>
    <w:rsid w:val="2B4E5F3E"/>
    <w:rsid w:val="2E190967"/>
    <w:rsid w:val="2E9D030D"/>
    <w:rsid w:val="2EEC4D8F"/>
    <w:rsid w:val="2F2F7951"/>
    <w:rsid w:val="305B205D"/>
    <w:rsid w:val="30F878AC"/>
    <w:rsid w:val="312A57B3"/>
    <w:rsid w:val="31360D41"/>
    <w:rsid w:val="31986C36"/>
    <w:rsid w:val="31A705A9"/>
    <w:rsid w:val="32817C96"/>
    <w:rsid w:val="32FD6CA5"/>
    <w:rsid w:val="33843679"/>
    <w:rsid w:val="33B85935"/>
    <w:rsid w:val="34160B26"/>
    <w:rsid w:val="34367106"/>
    <w:rsid w:val="34CD58EC"/>
    <w:rsid w:val="357E4B81"/>
    <w:rsid w:val="35DD986E"/>
    <w:rsid w:val="36B77CE8"/>
    <w:rsid w:val="36EBD6F2"/>
    <w:rsid w:val="37645C9B"/>
    <w:rsid w:val="376E2676"/>
    <w:rsid w:val="37900768"/>
    <w:rsid w:val="38FA0C46"/>
    <w:rsid w:val="39221266"/>
    <w:rsid w:val="393F251C"/>
    <w:rsid w:val="39CC3F13"/>
    <w:rsid w:val="39CF0E3F"/>
    <w:rsid w:val="3B1E5157"/>
    <w:rsid w:val="3B634927"/>
    <w:rsid w:val="3B9B7FE9"/>
    <w:rsid w:val="3B9E0C48"/>
    <w:rsid w:val="3BF07AFD"/>
    <w:rsid w:val="3BFB96F1"/>
    <w:rsid w:val="3C9C7A3D"/>
    <w:rsid w:val="3D6B01E6"/>
    <w:rsid w:val="3D82629A"/>
    <w:rsid w:val="3EE10FF2"/>
    <w:rsid w:val="3EFD01E1"/>
    <w:rsid w:val="3F7756D9"/>
    <w:rsid w:val="3FF3C693"/>
    <w:rsid w:val="3FF9790F"/>
    <w:rsid w:val="40A2217C"/>
    <w:rsid w:val="40C043A3"/>
    <w:rsid w:val="414F4594"/>
    <w:rsid w:val="415D312C"/>
    <w:rsid w:val="4197410F"/>
    <w:rsid w:val="42957E13"/>
    <w:rsid w:val="43FB558C"/>
    <w:rsid w:val="442E13C5"/>
    <w:rsid w:val="4494227D"/>
    <w:rsid w:val="44CC07F6"/>
    <w:rsid w:val="45252F0E"/>
    <w:rsid w:val="45C16F17"/>
    <w:rsid w:val="47346230"/>
    <w:rsid w:val="47AE33F3"/>
    <w:rsid w:val="47AF3B20"/>
    <w:rsid w:val="485F60A2"/>
    <w:rsid w:val="489A63C4"/>
    <w:rsid w:val="492B6235"/>
    <w:rsid w:val="49B851A0"/>
    <w:rsid w:val="4A9F3DA9"/>
    <w:rsid w:val="4BB5BDE7"/>
    <w:rsid w:val="4C407515"/>
    <w:rsid w:val="4C813780"/>
    <w:rsid w:val="4CC065C4"/>
    <w:rsid w:val="4CF117AC"/>
    <w:rsid w:val="4D1C4E2E"/>
    <w:rsid w:val="4D3307F0"/>
    <w:rsid w:val="4D9D385D"/>
    <w:rsid w:val="4E926C43"/>
    <w:rsid w:val="4ED316CA"/>
    <w:rsid w:val="4EFA00B2"/>
    <w:rsid w:val="4FBF41C2"/>
    <w:rsid w:val="508D6532"/>
    <w:rsid w:val="51112C18"/>
    <w:rsid w:val="51F04E21"/>
    <w:rsid w:val="52490034"/>
    <w:rsid w:val="52970B02"/>
    <w:rsid w:val="5357795B"/>
    <w:rsid w:val="537BCD8E"/>
    <w:rsid w:val="542D2E97"/>
    <w:rsid w:val="54436C12"/>
    <w:rsid w:val="5493001C"/>
    <w:rsid w:val="54B605FA"/>
    <w:rsid w:val="561D7134"/>
    <w:rsid w:val="56BD4B62"/>
    <w:rsid w:val="56E301F4"/>
    <w:rsid w:val="56E94DB9"/>
    <w:rsid w:val="57E31DC8"/>
    <w:rsid w:val="5A7FBF88"/>
    <w:rsid w:val="5AC563D3"/>
    <w:rsid w:val="5ADFF16B"/>
    <w:rsid w:val="5D2E66A6"/>
    <w:rsid w:val="5D6713E5"/>
    <w:rsid w:val="5DB87C5E"/>
    <w:rsid w:val="5E115DE0"/>
    <w:rsid w:val="5E533074"/>
    <w:rsid w:val="5EC30338"/>
    <w:rsid w:val="5EF6D3DB"/>
    <w:rsid w:val="5F427DC1"/>
    <w:rsid w:val="5F7F01AF"/>
    <w:rsid w:val="5F85135A"/>
    <w:rsid w:val="5FDF25DF"/>
    <w:rsid w:val="603F73E3"/>
    <w:rsid w:val="6109328C"/>
    <w:rsid w:val="61173488"/>
    <w:rsid w:val="616A3774"/>
    <w:rsid w:val="616D7CD4"/>
    <w:rsid w:val="63814D13"/>
    <w:rsid w:val="64E17A9F"/>
    <w:rsid w:val="652B396C"/>
    <w:rsid w:val="654E37B5"/>
    <w:rsid w:val="658B72E8"/>
    <w:rsid w:val="661913A3"/>
    <w:rsid w:val="662A20DC"/>
    <w:rsid w:val="67304223"/>
    <w:rsid w:val="67EF71F2"/>
    <w:rsid w:val="67FB2416"/>
    <w:rsid w:val="67FF05C6"/>
    <w:rsid w:val="6BB3115D"/>
    <w:rsid w:val="6BDFC3E4"/>
    <w:rsid w:val="6BEA3BD9"/>
    <w:rsid w:val="6D6E289E"/>
    <w:rsid w:val="6D79635B"/>
    <w:rsid w:val="6DB70FA5"/>
    <w:rsid w:val="6DDE7073"/>
    <w:rsid w:val="6E384EFD"/>
    <w:rsid w:val="6EBA266B"/>
    <w:rsid w:val="6F036F31"/>
    <w:rsid w:val="701810F4"/>
    <w:rsid w:val="7088404F"/>
    <w:rsid w:val="70BA3C5B"/>
    <w:rsid w:val="70C40F7D"/>
    <w:rsid w:val="7192695B"/>
    <w:rsid w:val="719DA0BF"/>
    <w:rsid w:val="71BF24E0"/>
    <w:rsid w:val="732E2510"/>
    <w:rsid w:val="737D3067"/>
    <w:rsid w:val="73FF764E"/>
    <w:rsid w:val="746F6D4F"/>
    <w:rsid w:val="74EF16D9"/>
    <w:rsid w:val="74F6388D"/>
    <w:rsid w:val="756E6420"/>
    <w:rsid w:val="75E556A7"/>
    <w:rsid w:val="75F37D6E"/>
    <w:rsid w:val="75FEA72B"/>
    <w:rsid w:val="75FF9B0D"/>
    <w:rsid w:val="76B46F49"/>
    <w:rsid w:val="76CC0092"/>
    <w:rsid w:val="76DF3F18"/>
    <w:rsid w:val="76FC2A0E"/>
    <w:rsid w:val="771F85C1"/>
    <w:rsid w:val="776D6506"/>
    <w:rsid w:val="778F3E8E"/>
    <w:rsid w:val="77B703D1"/>
    <w:rsid w:val="77EF3EE1"/>
    <w:rsid w:val="77EF8C4C"/>
    <w:rsid w:val="78F8666D"/>
    <w:rsid w:val="796EB77B"/>
    <w:rsid w:val="7A3109B6"/>
    <w:rsid w:val="7A586721"/>
    <w:rsid w:val="7AA22454"/>
    <w:rsid w:val="7AA32644"/>
    <w:rsid w:val="7AFF08A9"/>
    <w:rsid w:val="7B1FE42D"/>
    <w:rsid w:val="7B9201A3"/>
    <w:rsid w:val="7BBACBA3"/>
    <w:rsid w:val="7BBF4F8C"/>
    <w:rsid w:val="7BEB4E26"/>
    <w:rsid w:val="7BF27783"/>
    <w:rsid w:val="7BFA0A0D"/>
    <w:rsid w:val="7BFD0C50"/>
    <w:rsid w:val="7C7E2532"/>
    <w:rsid w:val="7CB07D1C"/>
    <w:rsid w:val="7D5F5BC5"/>
    <w:rsid w:val="7D6EA0BB"/>
    <w:rsid w:val="7D771439"/>
    <w:rsid w:val="7D7727C3"/>
    <w:rsid w:val="7D7F9E6E"/>
    <w:rsid w:val="7D9E5E73"/>
    <w:rsid w:val="7DAA5057"/>
    <w:rsid w:val="7DBFA476"/>
    <w:rsid w:val="7DDF043C"/>
    <w:rsid w:val="7E4F2EA2"/>
    <w:rsid w:val="7E8FF079"/>
    <w:rsid w:val="7ED57396"/>
    <w:rsid w:val="7EE7E8CC"/>
    <w:rsid w:val="7EFFE78C"/>
    <w:rsid w:val="7F4E11EE"/>
    <w:rsid w:val="7F547735"/>
    <w:rsid w:val="7F5CC113"/>
    <w:rsid w:val="7F5F17C5"/>
    <w:rsid w:val="7F9B7B8B"/>
    <w:rsid w:val="7FCFE629"/>
    <w:rsid w:val="7FD5B16D"/>
    <w:rsid w:val="7FDF4632"/>
    <w:rsid w:val="7FEF396F"/>
    <w:rsid w:val="7FEF85F1"/>
    <w:rsid w:val="7FF7C770"/>
    <w:rsid w:val="7FFB235C"/>
    <w:rsid w:val="7FFC1841"/>
    <w:rsid w:val="7FFFC7D5"/>
    <w:rsid w:val="7FFFDEF0"/>
    <w:rsid w:val="8BFF7195"/>
    <w:rsid w:val="9ABF4CF4"/>
    <w:rsid w:val="9CBD1D15"/>
    <w:rsid w:val="9DACE687"/>
    <w:rsid w:val="9DAF755E"/>
    <w:rsid w:val="9FBFC413"/>
    <w:rsid w:val="AFD4E3C9"/>
    <w:rsid w:val="B479B971"/>
    <w:rsid w:val="B4FF9E80"/>
    <w:rsid w:val="B77BC2A3"/>
    <w:rsid w:val="B7EC1E33"/>
    <w:rsid w:val="BBD8BD13"/>
    <w:rsid w:val="BBEF308E"/>
    <w:rsid w:val="BBF6811E"/>
    <w:rsid w:val="BD73CC5B"/>
    <w:rsid w:val="BDCF2255"/>
    <w:rsid w:val="BDFA2CC0"/>
    <w:rsid w:val="BEB95CA9"/>
    <w:rsid w:val="BF294C3C"/>
    <w:rsid w:val="BF5F5AF0"/>
    <w:rsid w:val="BFA976D3"/>
    <w:rsid w:val="BFB615FC"/>
    <w:rsid w:val="BFBAB1C5"/>
    <w:rsid w:val="BFF37259"/>
    <w:rsid w:val="C3FC18E5"/>
    <w:rsid w:val="C9768824"/>
    <w:rsid w:val="CF7F2198"/>
    <w:rsid w:val="CFF7E01B"/>
    <w:rsid w:val="D7B65BBB"/>
    <w:rsid w:val="D7FD235F"/>
    <w:rsid w:val="DAD9B711"/>
    <w:rsid w:val="DBBBA26E"/>
    <w:rsid w:val="DBCE12A1"/>
    <w:rsid w:val="DC58F779"/>
    <w:rsid w:val="DCCFD4D8"/>
    <w:rsid w:val="DEFBA08E"/>
    <w:rsid w:val="DEFCD575"/>
    <w:rsid w:val="DF7F4EBF"/>
    <w:rsid w:val="DFBA9A2E"/>
    <w:rsid w:val="DFBDF8A6"/>
    <w:rsid w:val="DFBE5A8F"/>
    <w:rsid w:val="DFDFE5FD"/>
    <w:rsid w:val="DFE7CC97"/>
    <w:rsid w:val="E6FFADE5"/>
    <w:rsid w:val="E73FAC6F"/>
    <w:rsid w:val="E77EB6FA"/>
    <w:rsid w:val="E7EFB9AD"/>
    <w:rsid w:val="EBD9E437"/>
    <w:rsid w:val="EBF6135A"/>
    <w:rsid w:val="ECDD3765"/>
    <w:rsid w:val="EF7998F8"/>
    <w:rsid w:val="EFF3DB67"/>
    <w:rsid w:val="EFF71ECE"/>
    <w:rsid w:val="EFFEAD7E"/>
    <w:rsid w:val="F3E95741"/>
    <w:rsid w:val="F5FA2059"/>
    <w:rsid w:val="F6FE7144"/>
    <w:rsid w:val="F73F6D7B"/>
    <w:rsid w:val="F77F0719"/>
    <w:rsid w:val="F7F7371E"/>
    <w:rsid w:val="F7FF48EA"/>
    <w:rsid w:val="F97FF6F9"/>
    <w:rsid w:val="F9FF087C"/>
    <w:rsid w:val="FBDB212E"/>
    <w:rsid w:val="FBFF87F3"/>
    <w:rsid w:val="FD6FBEB6"/>
    <w:rsid w:val="FD7FA9B5"/>
    <w:rsid w:val="FD9EEFB4"/>
    <w:rsid w:val="FDF989B6"/>
    <w:rsid w:val="FDFFDEB1"/>
    <w:rsid w:val="FEEC1564"/>
    <w:rsid w:val="FEF76E57"/>
    <w:rsid w:val="FF577DA1"/>
    <w:rsid w:val="FF5EA920"/>
    <w:rsid w:val="FF7F61DD"/>
    <w:rsid w:val="FFBCDC47"/>
    <w:rsid w:val="FFE9B89B"/>
    <w:rsid w:val="FFF2AC65"/>
    <w:rsid w:val="FFFDAE5F"/>
    <w:rsid w:val="FFFF5125"/>
  </w:rsids>
  <m:mathPr>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:doNotAutoCompressPictures/>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults fillcolor="#FFFFFF" fill="t" stroke="t">
      <v:fill on="t" focussize="0,0"/>
      <v:stroke color="#000000"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
</w:settings>
